<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arkademy CRUD</title>
</head>
<body>
  <h1>Arkademy CRUD</h1>
  <button>Create</button>
  <div>
    <ul>
      <% for (item of data) { %>
        <li>
          <h3><%= item.nama_produk %></h3>
          <p><%= item.keterangan %></p>
          <p>Rp. <%= item.harga %></p>
          <p>Jumlah tersedia <%= item.jumlah %></p>
          <button>Update</button>
          <button>Delete</button>
        </li>
      <% } %>
    </ul>
  </div>
</body>
</html>
