<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arkademy CRUD | New</title>
</head>
<body>
  <a href="/">
    <h1>Arkademy CRUD</h1>
  </a>
  <form action="/new" method="POST">
    <div>
      <label for="name">Nama produk</label>
      <br>
      <input type="text" name="name">
      <br>
      <br>
    </div>
    <div>
      <label for="description">Keterangan</label>
      <br>
      <textarea name="description" cols="30" rows="10"></textarea>
      <br>
      <br>
    </div>
    <div>
      <label for="price">Harga (Rp)</label>
      <br>
      <input type="number" name="price">
      <br>
      <br>
    </div>
    <div>
      <label for="qty">Jumlah</label>
      <br>
      <input type="number" name="qty">
    </div>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
